#!/usr/bin/make -f

mainpkg = icd2-settings-default

build:

clean:
	dh_testdir
	dh_clean

binary:
	dh_testdir
	dh_testroot
	dh_clean -k
	mkdir -p debian/$(mainpkg)
	cp -ra files/* debian/$(mainpkg)
	dh_installdocs -p$(mainpkg)
	dh_installchangelogs -p$(mainpkg)
	dh_compress
	dh_fixperms
	dh_strip
	dh_makeshlibs
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build clean binary
